<% var _default=json['default']; for ( var key in _default ) { if ( typeof page[key]==='undefined' ) { page[key]=_default[key]; } } -%>
  <!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= page['fav'] %>">

    <meta name="description" content="<%= page['description'] %>">
    <meta name="keywords" content="<%= page['keywords'] %>">

    <!--OGP-->
    <meta property="og:title" content="<%= page['title'] %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= page['url'] %>">

    <meta property="og:image" content="<%= page['img_url'] %>">

    <meta property="og:site_name" content="<%= page['title'] %>">
    <meta property="og:description" content="<%= page['description'] %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= page['title'] %>">
    <meta name="twitter:description" content="<%= page['description'] %>">

    <meta name="twitter:image" content="<%= page['img_url'] %>">

    <meta name="twitter:url" content="<%= page['url'] %>">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title><%= page['title'] %></title>
  </head>
